@import '../../styles/_variables';

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar, .footer {
  padding: 0.5rem;
  color: #e5e7eb;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  background: linear-gradient(to right, #3B82F6, black);
}

.navbar-container, .footer-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  width: 100%;
}

.navbar-brand, .footer span {
  grid-column: span 1;
}

.navbar-actions, .footer-links {
  grid-column: span 8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-links, .footer-links {
  display: flex;
  gap: 10px; /* Adjust the gap between navigation/footer links */
}

.navbar-brand a, .navbar-actions a, .footer a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-actions {
  margin-left: $margin-default;
}

.navbar-actions a, .footer a {
  margin-left: $margin-default;
  font-size: 1rem;

  @media (max-width: 700px) {
    margin-left: 0;
    font-size: 0.5rem;
  }
}

.content {
  flex: 1;
}
