<div class="table-container">
  <h2>{{'NAVBAR.EMPLOYEELIST'|translate}}</h2>
  <p-table #dt2 class="tbl-employees" [value]="employees" dataKey="id" [rows]="5" [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="[EmployeePropNames.FIRST_NAME, EmployeePropNames.LAST_NAME]" [paginator]="true" [tableStyle]="{ 'min-width': '38rem' }">
    <ng-template pTemplate="header">
      <tr style="font-size: 0.8rem ">
        <th></th>
        <th [pSortableColumn]="EmployeePropNames.FIRST_NAME">
          {{ 'TABLE.FIRST_NAME' | translate }}
          <p-sortIcon [field]="EmployeePropNames.FIRST_NAME" />
        </th>
        <th [pSortableColumn]="EmployeePropNames.LAST_NAME">
          {{ 'TABLE.LAST_NAME' | translate }}<p-sortIcon [field]="EmployeePropNames.FIRST_NAME" />

        </th>
        <th [pSortableColumn]="EmployeePropNames.DATE_OF_BIRTH">
          {{ 'TABLE.DATE_OF_BIRTH' | translate }}
          <p-sortIcon [field]="EmployeePropNames.DATE_OF_BIRTH" />
        </th>
        <th [pSortableColumn]="EmployeePropNames.JOB_TITLE">
          {{ 'TABLE.JOB_TITLE' | translate }}
          <p-columnFilter  [field]="EmployeePropNames.JOB_TITLE" locale="HR" matchMode="in" display="menu" class="ml-auto"
            [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="header">
              <div class="px-3 pt-3 pb-0">
                <span class="font-bold">{{ 'TABLE.FILTER_BY_TITLE' | translate }}</span>
              </div>
            </ng-template>
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [(ngModel)]="selectedJobTitles" [options]="uiFilterJobTitles"
                [placeholder]="'TABLE.FILTER_PLACEHOLDER' | translate"
                (onChange)="filter(transformToFilteringArr(selectedJobTitles))" optionLabel="name">
                <ng-template let-option pTemplate="item">
                  <div class="inline-block vertical-align-middle">
                    <span class="ml-1 mt-1">{{ option.name }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input pInputText type="text" (input)="dt2.filterGlobal(getEventValue($event), 'contains')"
            [placeholder]="'TABLE.SEARCH'|translate" />
        </p-iconField>
      </div>
    </ng-template>

    <ng-template pTemplate="body" let-employee>
      <tr>
        <td>
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
            alt="Stock Image">
        </td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.dateOfBirth | date: 'dd-MM-yyyy' }}</td>
        <td>{{ employee.jobTitle }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr *ngIf="isLoading">


        <td colspan="5" class="text-center">
          <div class="loader-table"></div>
        </td>
      </tr>
      <tr *ngIf="!isLoading">
        <td colspan="5" class="text-center">{{ 'TABLE.NOT_FOUND' | translate }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>